/* Navbar Styles */
nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

.right-column ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 50px;
  grid-gap: 15px;
}

.right-column {
  place-self: center;
}

nav {
  place-self: center;
}

.grid {
  display: grid;
}

.shopping-cart {
  font-size: 25px;
  fill: var(--gold);
}

.right-column li {
  place-self: center;
}
.cart {
  margin-top: 10px;
}

/* HomePage Styles */

.homepage {
  display: grid;
  grid-gap: 40px;
}

.homepageDownArrow {
  fill: white;
  font-size: 3rem;
}
.arrowButton {
  place-self: center;
}
.image-container {
  position: relative;
  display: grid;
  height: calc(100vh - 70px);
  align-items: center;
  justify-items: center;
}

.imageText {
  align-self: end;
  padding-bottom: 100px;
  display: grid;
}

.slider-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  top: -90px;
  z-index: -2;
}

/* Categoreis Cards Section */

.categoreisCardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 50px;
}

.categorieCard {
  background-color: var(--blue);
  width: 100%;
  height: 400px;
  display: grid;
  place-items: center;
}

.categorieTitle {
  font-size: 4rem;
  color: white;
  width: 15ch;
  text-align: center;
}

/* Footer */

footer {
  margin-top: 50px;
  border-top: 1px solid var(--blue);
  padding: 20px 0px 20px 0px;
}

.footerContainer {
  display: grid;
  grid-template-columns: 150px 1fr;
}

.footerCards {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  place-items: center;
}

.footerIcons {
  font-size: 30px;
}

.copyRight {
  display: grid;
  grid-template-columns: 50px 150px;
  place-content: center;
  margin-right: 150px;
}
