.shopPageMain {
  display: grid;
  grid-template-rows: 300px 1fr;
}

.shopFilter {
  display: grid;
  place-content: center;
  width: 100%;
}

.filterInput {
  width: 700px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid var(--blue);
  padding: 10px;
  font-size: 1.2rem;
}

.shopCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 400px));
  grid-gap: 40px;
}
.shopCard {
  border: 1px solid var(--blue);
  height: 350px;
  padding: 20px;
  position: relative;
  display: grid;
}

.cardPrice {
  font-size: 1.5rem;
  color: green;
}

.shopCard img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.gameName {
  justify-self: center;
  align-self: end;
  color: white;
  font-size: 2rem;
}

.priceContainer {
  background-color: white;
  width: 180px;
  height: 75px;
  padding: 15px;
  border-radius: 20px;
  display: grid;
  grid-template:
    "price percentage" 1fr
    "newprice newprice" 1fr/
    1fr 1fr;
}

.priceOnSale {
  text-decoration: line-through;
  color: lightgray;
  font-size: 0.8rem;
  grid-area: price;
}

.newPriceAfterSale {
  color: red;
  grid-area: newprice;
}

.percentageOff {
  grid-area: percentage;
  place-self: end;
}
